astroid==2.4.2
click==7.1.2
EasyProcess==0.3
entrypoint2==0.2.1
Flask==1.1.2
Flask-WTF==0.14.3
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.1
jeepney==0.4.3
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mss==5.1.0
parso==0.7.0
Pillow==9.3.0
pylint==2.5.3
pyscreenshot==2.2
six==1.15.0
toml==0.10.1
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.1
