{% extends "base.html" %}

{% block extra_head %}
<meta Http-Equiv="Cache" content="no-cache">
<meta Http-Equiv="Pragma-Control" content="no-cache">
<meta Http-Equiv="Cache-directive" Content="no-cache">
<meta Http-Equiv="Pragma-directive" Content="no-cache">
<meta Http-Equiv="Cache-Control" Content="no-cache">
<meta Http-Equiv="Pragma" Content="no-cache">
<meta Http-Equiv="Expires" Content="0">
<meta Http-Equiv="Pragma-directive: no-cache">
<meta Http-Equiv="Cache-directive: no-cache">                                                                                                                 
{% endblock extra_head %}

{% block content %}

<div class="row justify-content-center">
    <div>
        <img id="container" style="width:auto; height:100vh" src={{ url_for('static', filename=current_img_path) }}>
    </div>
</div>

{% endblock content %}

{% block scripts %}
function update() {
var source = '{{ url_for('static', filename=current_img_path) }}',
        timestamp = (new Date()).getTime(),
        newUrl = source + '?_=' + timestamp;
    document.getElementById("container").src = newUrl;
    setTimeout(update, {{ timeout }});
}
update()
{% endblock scripts %}
